.footer {
   grid-area: footer;
   /* height: 17vh; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
   font-size: 1.3rem;
   padding-block: 4rem;
   background-color: #070707;
   text-align: center;
   color: var(--color-gray-light);
}
.footer img {
   width: 6rem;
   aspect-ratio: 1;
   border: 1px solid gray;
   outline-offset: 3px;
   border-radius: 50%;
   object-fit: cover;
}
