aside.mobile-nav {
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--color-pry-dark);
   width: 100%;
   padding: 15rem 8rem;
   transform: translateY(-100%);
   overflow: hidden;
   transition: transform 0.5s, box-shadow 0.2s 0.2s;
   z-index: 31;
}

@media screen and (max-width: 37.5em) {
   aside.mobile-nav.drawn-out {
      transform: translateY(0);
   }
}

.mobile-nav ul > *:not(:last-child) {
   margin-bottom: 5rem;
}

.mobile-nav ul li {
   width: max-content;
   text-transform: uppercase;
   font-size: min(5vw, 2.5rem);
   color: #fff;
   padding-inline: 5vw;
   position: relative;
   transition: color 0.2s;
}

.mobile-nav ul li::before,
.mobile-nav ul li::after {
   content: "";
   position: absolute;
   bottom: 50%;
   transform: translateY(50%);
   height: 1%;
   background: #e0e0e0;
   width: 0;
   transition: width 0.5s;
}

.mobile-nav ul li::before {
   right: 100%;
}
.mobile-nav ul li::after {
   left: 100%;
}

.mobile-nav ul li:hover a {
   color: rgba(255, 255, 255, 0.5);
}

.mobile-nav ul li:hover::before,
.mobile-nav ul li:hover::after {
   width: 100vw;
}

.overlay {
   position: fixed;
   inset: 0;
   height: 100vh;
   background: rgba(19, 19, 19, 0.75);
   z-index: 30;
   transition: background 1s;
}
