aside.mobile-nav {
   position: fixed;
   top: 0;
   left: 0;
   background: #202020;
   width: 100%;
   box-shadow: 0 2rem 3rem rgb(0 0 0 / 40%), 0 3rem 6rem rgb(0 0 0 / 20%);
   padding: 15rem 8rem;
   overflow: hidden;
   z-index: 19;
}

.mobile-nav ul > *:not(:last-child) {
   margin-bottom: 5rem;
}

.mobile-nav ul li {
   width: max-content;
   text-transform: uppercase;
   font-size: min(5vw, 2.5rem);
   color: #bdbdbd;
   padding-inline: 5vw;
   position: relative;
   transition: color 0.2s;
}

.mobile-nav ul li::before,
.mobile-nav ul li::after {
   content: '';
   position: absolute;
   bottom: 50%;
   transform: translateY(50%);
   height: 1%;
   background: #e0e0e0;
   width: 0;
   transition: width 0.5s;
}

.mobile-nav ul li::before {
   right: 100%;
}
.mobile-nav ul li::after {
   left: 100%;
}

.mobile-nav ul li:hover {
   color: var(--color-pry);
}

.mobile-nav ul li:hover::before,
.mobile-nav ul li:hover::after {
   width: 100vw;
}
