.nav {
   grid-area: nav;
   background: var(--color-white);
   padding: 2rem 4rem;
   display: flex;
   align-items: center;
   gap: 1rem;
   /* border: 1px solid #ecebeb; */
}

@media screen and (max-width: 56.25em) {
   .nav {
      padding-block: 4rem;
   }
}

.nav__logo {
   font-size: 6rem;
   color: var(--color-pry);
}

.nav__list {
   display: flex;
   border-radius: 999px;
   /* box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1); */
   /* box-shadow: 0 0.45rem 0.5rem rgb(0 0 0 / 13%), 0 1rem 2rem rgb(0 0 0 / 8%); */
   box-shadow: 0 0.45rem 0.7rem rgb(0 0 0 / 8%), 0 0rem 3rem rgb(0 0 0 / 9%);
   margin-left: auto;
   overflow: hidden;
   animation: reveal-width 2s forwards;
}

@media screen and (max-width: 56.25em) {
   .nav__list {
      margin-inline: auto;
      justify-content: center;
   }
}

@media screen and (max-width: 37.5em) {
   .nav {
      padding: 3rem 4rem; /* The toggler has a left and top offset of 3rem*/
   }
   .nav__list {
      display: none;
   }
}

.nav__item:hover .nav__link {
   color: var(--color-sec); /* black */
}

.nav__item--active .nav__link {
   color: var(--color-sec);
}

.nav__link {
   text-decoration: none;
   display: block;
   width: max-content;
   padding: 1.5rem 3rem;
   color: #b1b1b1;
   transition: color 0.2s;
   position: relative;
}

.nav__link::before {
   content: '';
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(50%, -50%);
   width: 1px;
   height: 50%;
   background: #e7e7e7;
}

.nav-toggler {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 2rem 1rem;
   cursor: pointer;
   display: none;
   position: relative;
   z-index: 32;
}

@media screen and (max-width: 37.5em) {
   .nav-toggler {
      display: flex;
   }
}

.nav-toggler > * {
   display: block;
   height: 2px;
   width: 25px;
   transform-origin: right;
   background: var(--color-pry-dark);
   transition: transform 0.5s, color 0.4s;
   /* background: #cecece; */
}

.nav-toggler:not(.nav-drawn-out):hover > * {
   /* animation: scale-down-up 0.9s forwards;
   -webkit-animation: scale-down-up 0.9s forwards;
   background: var(--color-pry); */
}

.nav-toggler > *:nth-child(2) {
   animation-delay: 1s;
   -webkit-animation-delay: 0.3s;
}
.nav-toggler > *:nth-child(3) {
   animation-delay: 2s;
   -webkit-animation-delay: 0.15s;
}

.nav-toggler.nav-drawn-out > * {
   background: var(--color-pry);
}
.nav-toggler.nav-drawn-out > *:nth-child(1) {
   transform: rotate(-45deg) translateY(-100%);
}

.nav-toggler.nav-drawn-out > *:nth-child(2) {
   transform: scale(0);
}
.nav-toggler.nav-drawn-out > *:nth-child(3) {
   transform: rotate(45deg) translateY(100%);
}

.nav-toggler--fixed {
   position: fixed;
   top: 3rem;
}
