.nav {
   grid-area: nav;
   background: var(--color-white);
   padding: 3rem 7vw;
   padding-bottom: 0;
   display: flex;
   align-items: center;
   gap: 1rem;
}

@media screen and (max-width: 56.25em) {
   .nav {
      padding-block: 6rem;
   }
}

.nav__logo {
   font-size: 6rem;
   color: var(--color-pry);
}
.nav__list,
.nav__item {
   height: 100%;
}

.nav__list {
   display: flex;
   gap: 4.5rem;
   margin-inline: auto;
   border-bottom: 1px solid #f3f3f3;
}

@media screen and (max-width: 56.25em) {
   .nav__list {
      flex: 1;
      justify-content: center;
      border-color: transparent;
   }
}

@media screen and (max-width: 37.5em) {
   .nav {
      padding: 3rem 4rem; /* The toggler has a left and top offset of 3rem*/
   }
   .nav__list {
      display: none;
   }
}

.nav__item {
   display: grid;
   place-items: center;
}
.nav__item:hover {
   color: var(--color-sec); /* black*/
}

.nav__item .nav__link::after {
   background: #cfcfcf;
}

.nav__item:hover .nav__link::after {
   width: 100%;
}

.nav__item--active .nav__link::after {
   width: 100%;
   background: var(--color-pry);
}

.nav__link {
   text-decoration: none;
   display: block;
   width: max-content;
   padding-bottom: 1.5rem;
   position: relative;
}
.nav__link::after {
   content: '';
   position: absolute;
   inset-inline: 0;
   bottom: 0;
   height: 1%;
   background: gray;
   width: 0;
   transition: width 0.3s;
}

.nav-toggler {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 2rem 1rem;
   cursor: pointer;
   display: none;
   position: relative;
   z-index: 20;
}

@media screen and (max-width: 37.5em) {
   .nav-toggler {
      display: flex;
   }
}

.nav-toggler > * {
   display: block;
   height: 2px;
   width: 25px;
   transform-origin: right;
   background: var(--color-pry-dark);
   transition: transform 0.5s, color 0.4s;
   /* background: #cecece; */
}

.nav-toggler:not(.nav-drawn-out):hover > * {
   /* animation: scale-down-up 0.9s forwards;
   -webkit-animation: scale-down-up 0.9s forwards;
   background: var(--color-pry); */
}

.nav-toggler > *:nth-child(2) {
   animation-delay: 1s;
   -webkit-animation-delay: 0.3s;
}
.nav-toggler > *:nth-child(3) {
   animation-delay: 2s;
   -webkit-animation-delay: 0.15s;
}

.nav-toggler.nav-drawn-out > * {
   background: var(--color-pry);
}
.nav-toggler.nav-drawn-out > *:nth-child(1) {
   transform: rotate(-45deg) translateY(-100%);
}

.nav-toggler.nav-drawn-out > *:nth-child(2) {
   transform: scale(0);
}
.nav-toggler.nav-drawn-out > *:nth-child(3) {
   transform: rotate(45deg) translateY(100%);
}

.nav-toggler--fixed {
   position: fixed;
   top: 3rem;
}
