@keyframes scale-down-up {
   0% {
      transform: scaleX(1);
   }
   50% {
      transform: scaleX(0);
   }
   100% {
      transform: scaleX(1);
   }
}

@keyframes adjust-profile-picture {
   from {
      transform: translateY(-50%) scaleX(0);
   }
   to {
      transform: translateY(-50%) scaleX(1);
   }
}

@keyframes reveal-width {
   from {
      max-width: 0;
   }
   to {
      max-width: 1500px;
   }
}
