:root {
   --color-pry: #e43569;

   --color-pry-dark: #97123a;
   --color-pry-darker: #841f3d;

   --color-pry-light: #ffe1ea;
   --color-pry-lighter: #ffe6ed;
   --color-pry-lightest: #fff3f7;

   --color-sec: #000;
   --color-white: #fff;

   --color-gray-dark: #777;
   --color-gray-light: #d6d6d6;
   --color-gray-lighter: #f5f5f5;

   --default-fsize: 1.7rem;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: inherit;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}
/* Tab landscape and smaller */
@media (max-width: 75em) {
   html {
      font-size: 56.25%;
   }
}
/* Tab portrait and smaller */
@media (max-width: 56.25em) {
   html {
      font-size: 50%;
   }
}
/* Big desktop and larger */
@media (min-width: 112.5em) {
   html {
      font-size: 75%;
   }
}

body {
   display: grid;
   grid-template-columns: max-content 1fr 1fr;
   /* grid-template-rows: repeat(6, max-content); */
   grid-template-areas:
      'nav     nav      nav'
      'header  header   header'
      'leftnav services services'
      'leftnav skills   skills'
      'leftnav projects projects'
      'footer footer   footer';

   min-height: 100vh;
   font-family: 'Poppins', sans-serif;
   font-size: var(--default-fsize);
   color: var(--color-gray-dark);
}

a,
button {
   font: inherit;
   color: inherit;
   text-decoration: none;
}
button {
   outline: none;
   background: transparent;
   cursor: pointer;
   border-radius: 200px;
}
