.icon-link {
   display: block;
   background: transparent;
   background: #f1f1f1f1;
   border-radius: 50%;
   width: 4.9rem;
   height: 4.9rem;
   display: grid;
   place-items: center;
   font-size: max(2.7rem, 22px);
   color: inherit;
   position: relative;
   z-index: 1;
   transition: color 0.3s;
}

.icon-link::before {
   content: "";
   display: inherit;
   position: absolute;
   inset: 0;
   transform: scale(0);
   transition: transform 0.3s;
   border-radius: 50%;
   z-index: -1;
}

.icon-link:hover::before {
   background: #ececec;
   transform: scale(1);
}

.icon-link:hover {
   color: var(--color-pry-dark);
   color: var(--color-pry);
}
.icon-link.bg-pry:hover::before {
   background: var(--color-pry-lighter);
}
.icon-link.text-pry {
   color: var(--color-pry);
}
